{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
{% endblock %}

{% block content %}
<h1 class="week-h1">Año {{ year }} – KW {{ kw }}</h1>

<div class="table-container">
    <table class="week-table">
        <thead>
            <tr>
                <th class="sticky-col">Trabajador</th>
                {% for day in range(6) %}
                    <th>{{ day_names[day] }} AM</th>
                    <th>{{ day_names[day] }} PM</th>
                {% endfor %}
                <th>Salario</th>
                <th>Bono</th>
                <th>Total</th>
                <th>Comentario</th>
            </tr>
        </thead>
        <tbody>
            {% for worker in workers %}
                <tr>
                    <td class="sticky-col worker-name">{{ worker.name }}</td>
                    {% for day in range(6) %}
                        <td class="attendance-code">
                            {{ worker.attendance.get(day, {}).get(1, '') }}
                        </td>
                        <td class="attendance-code">
                            {{ worker.attendance.get(day, {}).get(2, '') }}
                        </td>
                    {% endfor %}
                    <td>{{ worker.salario or '' }}</td>
                    <td>{{ worker.bonus or '' }}</td>
                    <td>{{ worker.total or '' }}</td>
                    <td class="worker-comment">{{ worker.comment or '' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

